/*Grid styles*/

@for $i from 1 to 13 {
    $w: ($i/12) * 100%;
    .medium-#{$i} {
        flex-basis: $w;
    }
}

/*main styles*/

main {
    #article {
        flex-basis: 60%;

        background-image: url('../assets/images/bg-pattern-desktop.svg');

        padding: 50px 0 150px 0;

        > div {
            flex-basis: 50%;
            margin: 0 auto;

            #main-content-div {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;

                padding: 0;
                text-align: left;

                > * {
                    flex-basis: 100%;
                }

                #main-text-div {
                    margin-bottom: 0;
                    #main-title-div {
                        h2 {
                            font-size: 4rem;
                            line-height: 70px;
                            letter-spacing: 15px;
                        }
                    }
                }

                #email-div {

                    #alert-icon{
                        right:120px;
                        top: 12%;
                    }

                    #email-button-div {
                        width: 100px;
                        padding-left: 40px;
                    }
                }
            }
        }
    }

    #aside {
        flex-basis: 40%;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: inline-block;
    }

    #logo-div {
        padding: 0px;
        img {
            width: 150px;
        }
    }
}
